/* Styles for the buttons in the block view */
.opencast-addvideo-wrap.overview {
    text-align: center;
}

.opencast-recordvideo-wrap.overview {
    text-align: center;
}

/* Styles for the buttons on the overview page */
.opencast-recordvideo-wrap {
    margin: 10px 0;
}

/* Styles for the recordings list in the block view */
.opencast-vlist {
    margin-left: 0;
    list-style: none;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
}

.opencast-vlist .smallicon {
    margin-right: 5px;
}

.opencast-more-wrap {
    text-align: right;
}

/* Styles for the overview page */
#page-blocks-opencast-index h2 ~ .resettable {
    display: none;
}

#page-blocks-opencast-index #region-main h2 {
    margin-top: 50px;
}

#page-blocks-opencast-index #region-main h2:first-of-type {
    margin-top: inherit;
}

/* Styles for the admin settings page */
#page-admin-blocks-opencast-adminsettings #roles_table .fitemtitle {
    width: 0;
}

#page-admin-blocks-opencast-adminsettings #roles_table .felement {
    margin-left: 0;
}

/* Styles for the add video page */
#page-blocks-opencast-addvideo .form-filetypes-descriptions ul {
    margin-bottom: 0;
}

#page-blocks-opencast-addvideo .form-filetypes-descriptions li {
    font-size: 0;
    display: inline-block;
}

#page-blocks-opencast-addvideo .form-filetypes-descriptions li .text-muted {
    font-size: 12px;
}

#page-blocks-opencast-addvideo #fitem_id_video_presenter p,
#page-blocks-opencast-addvideo #fitem_id_video_presentation p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#page-blocks-opencast-addvideo .form-filetypes-descriptions ul {
    margin-bottom: 0;
}

/* Hide empty label columns in tables on admin settings page. */
#page-admin-blocks-opencast-adminsettings .generaltable .col-md-3 {
    display: none;
}

.inline-action-menu .menubar,
.download-action-menu .menubar {
    display: inline-flex !important;
}

.download-action-menu .dropdown-menu i {
    display: none;
}
