{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template block_opencast/studio

  Opencast Studio template.
  The purpose of this template is to render opencast studio.
}}

{{! Print the iframe. }}
{{# loggedin}}
    <iframe src="{{src}}" width="95%" height="455px" class="ocstudio" allowfullscreen="true"></iframe>
{{/ loggedin}}
{{^loggedin}}
{{! Don't load the video yet if not logged in. }}
    <iframe data-frameSrc="{{src}}" width="95%" height="455px" class="ocstudio" allowfullscreen="true"></iframe>
{{/loggedin}}
{{! Print the link to the video. }}
<a style="display:block;" target="_blank" href="{{link}}">Zum Video</a>

